.GAdminHome-stat {
  border: 1px #394B59 solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #30404d;
}

.GAdminHome-stats {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  fill: #ffffff !important;
}

.GAdminHome-big-stats {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 1fr;
  gap: 1rem;
}

.GAdminHome-clickable-table {
  cursor: pointer;
}