.fa {
  color: #a7b6c2;
}

.bp3-dark .ForumEditor .CodeMirror {
  color: #ffffff;
  caret-color: #ffffff;
  background-color: #30404d;
  border: 1px #394B59 solid;
}

.ForumEditor-name {
  width: 100%;
  margin-right: 0.5rem;
}

.ForumEditor-button {
  margin-right: 0.5rem;
  margin-top: -1.5rem;
}

.ForumEditor-title {
  display: flex;
  margin-bottom: 1rem;
}